#dataSelector {
    border: none;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    color: white;
    background-color: #6c6f6d;
    text-align: center;
    font-weight: 800;
    font-family: sans-serif;
    padding: 10px;
    cursor: default;
    margin-top: 20px;
}

#dataSelector:hover {
    cursor: pointer;
    background-color: #8d908e;
}

#myChart {
    height: 625px;
}